<!DOCTYPE html>
<html lang="en">
    <head>        
        <!-- META SECTION -->
        <title>Poseidon UI - Configuration</title>            
        <script type="text/javascript" type="text/javascript" href="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
		<script type="text/javascript" type="text/javascript" href="{{ url_for('static', filename='js/angular.min.js') }}"></script>
		<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='faviconbr.ico') }}">
		 <!-- START PRELOADS -->
        <audio id="audio-alert" src="{{ url_for('static', filename='audio/alert.mp3') }}" preload="auto"></audio>
        <audio id="audio-fail" src="{{ url_for('static', filename='audio/fail.mp3') }}" preload="auto"></audio>
        <!-- END PRELOADS -->                  
        
		<!-- START SCRIPTS -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jquery/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jquery/jquery-ui.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/bootstrap/bootstrap.min.js') }}"></script>        
        <script type='text/javascript' src="{{ url_for('static', filename='js/plugins/icheck/icheck.min.js') }}"></script>        
        <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/scrolltotop/scrolltopcontrol.js') }}"></script>
        
        
        <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/rickshaw/d3.v3.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/rickshaw/rickshaw.min.js') }}"></script>            
        <script type='text/javascript' src="{{ url_for('static', filename='js/plugins/bootstrap/bootstrap-datepicker.js') }}"></script>                
        <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/owl/owl.carousel.min.js') }}"></script>  
		<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/knob/jquery.knob.min.js') }}"></script>   		
		        
        
        <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/moment.min.js') }}"></script>  

        <script type="text/javascript" src="{{ url_for('static', filename='js/plugins.js') }}"></script>        
        <script type="text/javascript" src="{{ url_for('static', filename='js/actions.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
        
        
        <!-- CSS INCLUDE -->        
        <link rel="stylesheet" type="text/css" id="theme" href="{{ url_for('static', filename='css/theme-default.css') }}"/>
        
		<script type="text/javascript">
                //save for later
               //if (element == "Git_Status")
				//{
					//document.getElementById(element).innerHTML = value; 
				//}
			$(document).ready(function() {
			
			var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
			
            
            //Reboot and Shutdown commands

            document.getElementById("btnReloadApp").onclick = function () { 
                 socket.emit('command_from_UI', {data: 'reloadUI'});
            };
            document.getElementById("btnUpdateApp").onclick = function () { 
                 socket.emit('command_from_UI', {data: 'updateApp'});
            };
            document.getElementById("btnGitStatus").onclick = function () { 
                 socket.emit('command_from_UI', {data: 'checkForUpdates'});
            };
            socket.on('gitStatusResponse', function(msg) {
                document.getElementById('Git_Status').innerHTML = msg.data; 
            });
			
            
            
			socket.on('connect', function() {
                //socket.emit('getPiData', {data: 'page_load'});
				 //document.getElementById('ws_status').innerHTML = "Connected";
				 //document.getElementById('ws_name').innerHTML = "Flask Websocket server";
            });
            
           
            
	
		});	
				
		
		
    </script>
    </head>
       <body>
        <!-- START PAGE CONTAINER -->
        <div class="page-container">
            
            <!-- START PAGE SIDEBAR -->
            <div class="page-sidebar">
                <!-- START X-NAVIGATION -->
                <ul class="x-navigation">
                    <li class="xn-logo">
                        <a href="/">Poseidon UI</a>
                        <a href="#" class="x-navigation-control"></a>
                    </li>
                    
                    <li class="xn-title">Navigation</li>
                    <li>
                        <a href="/"><span class="fa fa-desktop"></span> <span class="xn-text">Dashboard</span></a>
						                         
                    </li>                    
                    <li class="xn-openable">
                        <a href="#"><span class="fa fa-cogs"></span> <span class="xn-text">Systems</span></a>
                        <ul>
                            <a href="/raspberry_pi"><span class="fa fa-linux"></span> Raspberry Pi</a></li>
                            <li><a href="/"><span class="fa fa-hdd-o"></span> Pixhawk</a></li>
                            <li><a href="/"><span class="fa fa-anchor"></span> ROV</a></li>
							<li><a href="/"><span class="fa fa-gamepad"></span> Controls</a></li>              
                        </ul>
                    </li>
					<li>
						<li class="active"><a href="configuration.html"><span class="fa fa-cog"></span> <span class="xn-text">Configuration</span></a>
					</li>

                    
                                 
                    
                                     
                   
                    
                </ul>
                <!-- END X-NAVIGATION -->
            </div>
            <!-- END PAGE SIDEBAR -->
            
            <!-- PAGE CONTENT -->
            <div class="page-content">
                
                <!-- START X-NAVIGATION VERTICAL -->
                <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                    <!-- TOGGLE NAVIGATION -->
                    <li class="xn-icon-button">
                        <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                    </li>
                    <!-- END TOGGLE NAVIGATION -->   

                      <!-- Restart Flask -->
                    <li class="xn-icon-button pull-right">
                        <a href="#" class="mb-control" data-box="#reload_app"><span class="fa fa-refresh"></span></a>                     
                    </li> 

                </ul>
                <!-- END X-NAVIGATION VERTICAL -->                     
                
                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>                    
                    <li class="active">Configuration</li>
					
                </ul>
                <!-- END BREADCRUMB -->                
                
                <div class="page-title">                    
                    <h2><span class="fa fa-cog"></span> Configuration</h2>
                </div>                   
                
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
					<div class="col-md-4">
					</div>
                    <div class="row">
						<div class="col-md-4">
							<!-- START PANEL WITH HIDDEN CONTROLS -->
                            <div class="panel panel-success panel-hidden-controls">
                                <div class="panel-heading">
                                    <h2 class="panel-title">UI Software</h2>
                                    <ul class="panel-controls">
                                        <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
										<li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                                    </ul>                                
                                </div>
                                <div class="panel-body" >
                                    <div class="form-group"> 
										<div class="col-md-12">
                                                This section is for getting new code and updating the UI.
                                            </div>
											<br /><br />
                                           <div class="col-md-2">
										   </div>
                                            <div class="col-md-8">
                                                <!-- <button type="button" class="btn btn-info mb-control" data-box="#update_app"><i class="fa fa-cloud-download">  Download and Install Updates</i></button> -->
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_git_check" id="btnGitStatus"><i class="fa fa-github">  Check for Recent Updates</i></button>

										
                                            </div>                                        
                                        </div>      
                                </div>      
                                <div class="panel-footer">                                
                                    <!-- <button class="btn btn-primary pull-right" onclick='doit("button Press");'>Sample Send Data back to Node-Red</button> -->
                                </div>                            
                            </div>
                            <!-- END PANEL WITH HIDDEN CONTROLS -->
						</div>
						
                    </div>
					
					
					
                <!-- END PAGE CONTENT WRAPPER -->                
            </div>            
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->

		         
        <!-- MESSAGE BOX-->
        <div class="message-box animated fadeIn" data-sound="alert" id="update_app">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-sign-out"></span> Are you sure?</div>
                    <div class="mb-content">                 
                        <p>This action does a git pull from the master branch in the repository.</p>
                        <br /><br />
                        <p><strong>After clicking Yes, you must manually refresh the webbrowser as well to make the changes live.</strong></p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <button class="btn btn-default btn-success btn-lg mb-control-close" id="btnUpdateApp">Yes</button>
                            <button class="btn btn-default btn-lg mb-control-close">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MESSAGE BOX-->
        
        <!-- MESSAGE BOX-->
        <div class="message-box animated fadeIn" data-sound="alert" id="reload_app">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-sign-out"></span> Reload UI ?</div>
                    <div class="mb-content">
                        <p>Are you sure you want to reload the UI?</p>                    
                        <p>This action pulls in any changes made to the code and makes them live.</p>
                        <p>It can be used if you want to sideload changes not from github and need to reload.</p>
                        <br /><br />
                        <p><strong>After clicking Yes, you must manually refresh the webbrowser as well.</strong></p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <button class="btn btn-default btn-success btn-lg mb-control-close" id="btnReloadApp">Yes</button>
                            <button class="btn btn-default btn-lg mb-control-close">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MESSAGE BOX-->
        
        <!-- MODALS -->        
        <div class="modal" id="modal_git_check" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="defModalHead">Git Status</h4>
                    </div>
                    <div class="modal-body" id="Git_Status">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                         <button type="button" class="btn btn-info mb-control" data-box="#update_app"><i class="fa fa-cloud-download" data-dismiss="modal">  Download and Install Updates</i></button>

                    </div>
                </div>
            </div>
        </div>
		
     
    </body>
</html>






