<!DOCTYPE html>
<html>
    <head>        
        <title>Poseidon UI</title>            
        
		<script type="text/javascript" type="text/javascript" href="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
		<script type="text/javascript" type="text/javascript" href="{{ url_for('static', filename='js/angular.min.js') }}"></script>
		<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='faviconbr.ico') }}">
		 <!-- START PRELOADS -->
        <audio id="audio-alert" src="{{ url_for('static', filename='audio/alert.mp3') }}" preload="auto"></audio>
        <audio id="audio-fail" src="{{ url_for('static', filename='audio/fail.mp3') }}" preload="auto"></audio>
        <!-- END PRELOADS -->                  
        
		<!-- START SCRIPTS -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jquery/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jquery/jquery-ui.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/bootstrap/bootstrap.min.js') }}"></script>        
        <script type='text/javascript' src="{{ url_for('static', filename='js/plugins/icheck/icheck.min.js') }}"></script>        
        <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/scrolltotop/scrolltopcontrol.js') }}"></script>
        
        
        <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/rickshaw/d3.v3.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/rickshaw/rickshaw.min.js') }}"></script>            
        <script type='text/javascript' src="{{ url_for('static', filename='js/plugins/bootstrap/bootstrap-datepicker.js') }}"></script>                
        <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/owl/owl.carousel.min.js') }}"></script>                 
        
        <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/moment.min.js') }}"></script>  

        <script type="text/javascript" src="{{ url_for('static', filename='js/plugins.js') }}"></script>        
        <script type="text/javascript" src="{{ url_for('static', filename='js/actions.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
        
        
        <!-- CSS INCLUDE -->        
        <link rel="stylesheet" type="text/css" id="theme" href="{{ url_for('static', filename='css/theme-default.css') }}"/>
		
        <!-- EOF CSS INCLUDE -->   
		<script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            // Use a "/test" namespace.
            // An application can open a connection on multiple namespaces, and
            // Socket.IO will multiplex all those connections on a single
            // physical channel. If you don't care about multiple channels, you
            // can set the namespace to an empty string.
            //namespace = '/test';

            // Connect to the Socket.IO server.
            // The connection URL has the following format:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
			
            document.getElementById("btnReloadApp").onclick = function () { 
                 console.log('reload');
                 socket.emit('command_from_UI', {data: 'reloadUI'});
            };
            socket.on('my_response', function(msg) {
                if (msg.data == 'reloadComplete') {
                    console.log('reloadCompleted');
                    //location.reload();
                  }
            });
          
    


            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function() {
                socket.emit('my_event', {data: 'I\'m connected!'});
				 document.getElementById('ws_status').innerHTML = "Connected";
				 //document.getElementById('ws_name').innerHTML = "Flask Websocket server";
            });


			
			socket.on('uptime', function(msg) {
				//$('#log').append('<br>' + $('<div/>').text('UpTime #: ' + msg.data).html());
                document.getElementById('uptime').innerHTML = msg.data;
				//document.getElementById('uptime').innerHTML = 'hi';
            });

            // Interval function that tests message latency by sending a "ping"
            // message. The server then responds with a "pong" message and the
            // round trip time is measured.
            var ping_pong_times = [];
            var start_time;
            window.setInterval(function() {
                start_time = (new Date).getTime();
                socket.emit('my_ping');
            }, 1000);

            // Handler for the "pong" message. When the pong is received, the
            // time from the ping is stored, and the average of the last 30
            // samples is average and displayed.
            socket.on('my_pong', function() {
                var latency = (new Date).getTime() - start_time;
                ping_pong_times.push(latency);
                ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
                var sum = 0;
                for (var i = 0; i < ping_pong_times.length; i++)
                    sum += ping_pong_times[i];
                $('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
            });

           
            

        });
    </script>
    </head>
    <body>
        <!-- START PAGE CONTAINER -->
        <div class="page-container">
            
            <!-- START PAGE SIDEBAR -->
            <div class="page-sidebar">
                <!-- START X-NAVIGATION -->
                <ul class="x-navigation">
                    <li class="xn-logo">
                        <a href="/">Poseidon UI</a>
                        <a href="#" class="x-navigation-control"></a>
                    </li>
                    
                    <li class="xn-title">Navigation</li>
                    <li class="active">
                        <a href="/"><span class="fa fa-desktop"></span> <span class="xn-text">Dashboard</span></a>
						                         
                    </li>                    
                    <li class="xn-openable">
                        <a href="#"><span class="fa fa-cogs"></span> <span class="xn-text">Systems</span></a>
                        <ul>
                            <li><a href="/raspberry_pi"><span class="fa fa-linux"></span> Raspberry Pi</a></li>
                            <li><a href="/"><span class="fa fa-hdd-o"></span> Pixhawk</a></li>
                            <li><a href="/"><span class="fa fa-anchor"></span> ROV</a></li>
							<li><a href="/"><span class="fa fa-gamepad"></span> Controls</a></li>   
                          
                            
                        </ul>
                    </li>
                    <li><a href="/logs"><span class="fa fa-file-text-o"></span> Dive Logs</a></li>     
					<li>
						<a href="/configuration"><span class="fa fa-cog"></span> <span class="xn-text">Configuration</span></a>
					</li>
                   
                </ul>
                <!-- END X-NAVIGATION -->
            </div>
            <!-- END PAGE SIDEBAR -->
            
            <!-- PAGE CONTENT -->
            <div class="page-content">
                
                <!-- START X-NAVIGATION VERTICAL -->
                <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                    <!-- TOGGLE NAVIGATION -->
                    <li class="xn-icon-button">
                        <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                    </li>
                    <!-- END TOGGLE NAVIGATION -->
                    
                    <!-- Restart Flask -->
                    <li class="xn-icon-button pull-right">
                        <a href="#" class="mb-control" data-box="#reload_app"><span class="fa fa-refresh"></span></a>                     
                    </li> 

                    
                    
                </ul>
                <!-- END X-NAVIGATION VERTICAL -->                     

                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>                    
                    <li class="active">Dashboard</li>
                </ul>
                <!-- END BREADCRUMB -->                       
                
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                    
                    <!-- START WIDGETS -->                    
                    <div class="row">
                              
                        <div class="col-md-4">
							<div class="widget widget-default widget-carousel">
                                <div class="owl-carousel" id="owl-example">
                                    <div>                                    
                                        <div class="widget-title">Total Dive Count</div>
                                        <div class="widget-subtitle"></div>
                                        <div class="widget-int">0</div>
                                    </div>
									<div>                                    
                                        <div class="widget-title">Last Dive</div>                                                                        
                                        <div class="widget-subtitle"></div>
                                        <div class="widget-int">Never</div>
                                    </div>
                                    <div>                                    
                                        <div class="widget-title">Max Depth</div>
                                        <div class="widget-subtitle">ft</div>
                                        <div class="widget-int">0</div>
                                    </div>
									<div>                                    
                                        <div class="widget-title">Longest Dive</div>
                                        <div class="widget-subtitle">Duration</div>
                                        <div class="widget-int">0 minutes</div>
                                    </div>
                                </div>                            
                                                           
                            </div>                         
						</div>
						
						
						<div class="col-md-4">

                            <!-- START WIDGET CLOCK -->
                            <!-- <div class="widget widget-info widget-padding-sm">
                                <div class="widget-big-int" id="upTime2"></div>                            
                                <div class="widget-subtitle ">System UpTime<label id="conn_text"></label></div>
                                                         
                                                       
							</div>  -->
							<div class="widget widget-info widget-no-subtitle">
                                <div class="widget-big-int" id="uptime">00:00:00</div>                            
                                <div class="widget-subtitle">System Up Time</div>
								 <!-- <div class="widget-buttons widget-c2">
									<div class="col">
										<a href="#"><span class="fa fa-refresh"></span>  Reboot</a>
									</div>
									<div class="col">
										<a href="#"><span class="fa fa-power-off"></span>  Shutdown</a>
									</div>
									
								</div>      -->                  
                            </div>    

							  
						
						</div>	 
						<div class="col-md-4">
							<div class="widget widget-default widget-no-subtitle">
                                <div class="widget-big-int" id="ws_status">Not Connected</div>                            
                                <div class="widget-subtitle">Avg. Latency: <span id="ping-pong"></span>ms</div>  
                                
                            </div>                        
						</div>
               
							
					</div>
					<div class="row">
						<div class="col-md-12">
							<!-- START PANEL WITH HIDDEN CONTROLS -->
                            <div class="panel panel-success panel-hidden-controls">
                                <div class="panel-heading">
                                    <h2 class="panel-title">Poseidon UI Info TESTING</h2>
                                    <ul class="panel-controls">
                                        <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
										<li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                                    </ul>                                
                                </div>
                                <div class="panel-body">
                                    Welcome to the new UI for ROV control and configuration.  This interface is hosted from the Raspberry Pi onboard the ROV.  It allows you to connect to the ROV on any device without the need to install any software. 
									</br></br>To start with, the UI will mainly be used to configure subsystems, check system health, and view alarms and history. 
									</br></br>More features are being added often!
                                </div>      
                                <div class="panel-footer">                                
                                    <!-- <button class="btn btn-primary pull-right" onclick='doit("button Press");'>Sample Send Data back to Node-Red</button> -->
                                </div>                            
                            </div>
                            <!-- END PANEL WITH HIDDEN CONTROLS -->
						</div>
					</div>
                    
                    <div clas="row">
                        <div id="gamepadPrompt"></div>
                        <div id="gamepadDisplay"></div>
                    </div>
					
									
					
                    <!-- END WIDGETS -->                    
                    
                </div>
                <!-- END PAGE CONTENT WRAPPER -->                                
            </div>            
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->

        <!-- MESSAGE BOX-->
        <div class="message-box animated fadeIn" data-sound="alert" id="reload_app">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-sign-out"></span> Reload UI ?</div>
                    <div class="mb-content">
                        <p>Are you sure you want to reload the UI?</p>                    
                        <p>This action pulls in any changes made to the code and makes them live.</p>
                        <p>It can be used if you want to sideload changes not from github and need to reload.</p>
                        <br /><br />
                        <p><strong>After clicking Yes, you must manually refresh the webbrowser as well.</strong></p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <button class="btn btn-default btn-success btn-lg mb-control-close" id="btnReloadApp">Yes</button>
                            <button class="btn btn-default btn-lg mb-control-close">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MESSAGE BOX-->

       
        
        
        <!-- END TEMPLATE -->
	<!-- GAMEPAD TESTER!!! -->	
    <script>
	var hasGP = false;
	var repGP;
	
	function canGame() {
		return "getGamepads" in navigator;
	}

	function reportOnGamepad() {
		var gp = navigator.getGamepads()[0];
		var html = "";
			html += "id: "+gp.id+"<br/>";
		
		for(var i=0;i<gp.buttons.length;i++) {
			html+= "Button "+(i+1)+": ";
			if(gp.buttons[i].pressed) html+= " pressed";
			html+= "<br/>";
		}
		
		for(var i=0;i<gp.axes.length; i+=2) {
			html+= "Stick "+(Math.ceil(i/2)+1)+": "+gp.axes[i]+","+gp.axes[i+1]+"<br/>";
		}
		
		$("#gamepadDisplay").html(html);
	}
		
	$(document).ready(function() {

		if(canGame()) {

			var prompt = "To begin using your gamepad, connect it and press any button!";
			$("#gamepadPrompt").text(prompt);
			
			$(window).on("gamepadconnected", function() {
				hasGP = true;
				$("#gamepadPrompt").html("Gamepad connected!");
				console.log("connection event");
				repGP = window.setInterval(reportOnGamepad,100);
			});

			$(window).on("gamepaddisconnected", function() {
				console.log("disconnection event");
				$("#gamepadPrompt").text(prompt);
				window.clearInterval(repGP);
			});

			//setup an interval for Chrome
			var checkGP = window.setInterval(function() {
				console.log('checkGP');
				if(navigator.getGamepads()[0]) {
					if(!hasGP) $(window).trigger("gamepadconnected");
					window.clearInterval(checkGP);
				}
			}, 500);
		}
		
	});
	</script>    
    </body>
</html>






